*

!.gitignore
!readme.md
!php8
!php8/**
!php74
!php74/**
!php73
!php73/**
!php72
!php72/**
!php7
!php7/**
!php56
!php56/**

/php8/.DS_Store
/php8/.vagrant
/php8/ansible/inventories/dev

/php74/.DS_Store
/php74/.vagrant
/php74/ansible/inventories/dev

/php73/.DS_Store
/php73/.vagrant
/php73/ansible/inventories/dev

/php72/.DS_Store
/php72/.vagrant
/php72/ansible/inventories/dev

/php7/.vagrant
/php7/ansible/inventories/dev

/php56/.vagrant
/php56/ansible/inventories/dev
